{% extends 'base.html' %} {% load static %} <br />
{% block title %}Skin Cancer{% endblock %} <br />
{% block content %}
<link rel="stylesheet" href="{% static 'css/skincancer.css' %}" />

<section class="describe">
  <div class="container">
    <div
      class="img"
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    >
      <img src="{% static 'image/skincancer.jpg' %}" alt="Skin Cancer" />
    </div>
    <div class="text">
      <h3
        class="title"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
      >
        Skin Cancer
      </h3>
      <div class="content">
        <div
          class="img"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
        >
          <img
            src="{% static 'image/skincancerdescribe.jpg' %}"
            alt="Skin Cancer"
          />
        </div>
        <div
          class="inner-text"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
        >
          <div class="info">
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="120"
                height="100"
                viewBox="0 0 120 100"
                fill="none"
              >
                <g id="triangles" clip-path="url(#clip0_1_2)">
                  <g id="lightgroup">
                    <path
                      id="light"
                      d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                      fill="#0086C4"
                      fill-opacity="0.5"
                    />
                  </g>
                  <g id="darkgroup">
                    <path
                      id="dark2"
                      d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                      fill="#0086C4"
                    />
                    <path
                      id="dark1"
                      d="M65 48.268C66.3333 49.0378 66.3333 50.9623 65 51.7321L30.5 71.6506C29.1667 72.4204 27.5 71.4582 27.5 69.9186V30.0814C27.5 28.5418 29.1667 27.5796 30.5 28.3494L65 48.268Z"
                      fill="#0086C4"
                    />
                  </g>
                </g>
                <defs>
                  <clipPath id="clip0_1_2">
                    <rect width="120" height="100" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <strong>What is Skin Cancer ?</strong>
            <p class="answer">
              Skin cancer is the out-of-control growth of abnormal cells in the
              epidermis, the outermost skin layer, caused by unrepaired DNA
              damage that triggers mutations. These mutations lead the skin
              cells to multiply rapidly and form malignant tumors.
              <br />
            </p>
          </div>
          <div class="info">
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="120"
                height="100"
                viewBox="0 0 120 100"
                fill="none"
              >
                <g id="triangles" clip-path="url(#clip0_1_2)">
                  <g id="lightgroup">
                    <path
                      id="light"
                      d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                      fill="#0086C4"
                      fill-opacity="0.5"
                    />
                  </g>
                  <g id="darkgroup">
                    <path
                      id="dark2"
                      d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                      fill="#0086C4"
                    />
                    <path
                      id="dark1"
                      d="M65 48.268C66.3333 49.0378 66.3333 50.9623 65 51.7321L30.5 71.6506C29.1667 72.4204 27.5 71.4582 27.5 69.9186V30.0814C27.5 28.5418 29.1667 27.5796 30.5 28.3494L65 48.268Z"
                      fill="#0086C4"
                    />
                  </g>
                </g>
                <defs>
                  <clipPath id="clip0_1_2">
                    <rect width="120" height="100" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <strong>Skin Cancer Types ?</strong>
            <p class="answer">
              The main types of skin cancer are basal cell carcinoma (BCC),
              squamous cell carcinoma (SCC), melanoma and Merkel cell carcinoma
              (MCC).
            </p>
          </div>
          <div class="info">
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="120"
                height="100"
                viewBox="0 0 120 100"
                fill="none"
              >
                <g id="triangles" clip-path="url(#clip0_1_2)">
                  <g id="lightgroup">
                    <path
                      id="light"
                      d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                      fill="#0086C4"
                      fill-opacity="0.5"
                    />
                  </g>
                  <g id="darkgroup">
                    <path
                      id="dark2"
                      d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                      fill="#0086C4"
                    />
                    <path
                      id="dark1"
                      d="M65 48.268C66.3333 49.0378 66.3333 50.9623 65 51.7321L30.5 71.6506C29.1667 72.4204 27.5 71.4582 27.5 69.9186V30.0814C27.5 28.5418 29.1667 27.5796 30.5 28.3494L65 48.268Z"
                      fill="#0086C4"
                    />
                  </g>
                </g>
                <defs>
                  <clipPath id="clip0_1_2">
                    <rect width="120" height="100" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <strong>What we will do for you ?</strong>
            <p>
              We will help you find out whether you are infected with the
              disease or not, and if you are infected with it, we will provide
              you with some solutions to get rid of it, in addition to
              consulting your doctor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="form-section" id="form-section">
  <div class="container">
    <div
      class="user-input"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    >
      <form class="analysis" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Enter this information's</h1>
        <div class="fname">
          <input
            type="text"
            name="first_name"
            id="fname"
            class="fname"
            placeholder="First Name"
            required
          />
          <span></span>
        </div>
        <div class="lname">
          <input
            type="text"
            name="last_name"
            id="lname"
            class="lname"
            placeholder="Last Name"
            required
          />
          <span></span>
        </div>
        <div class="age">
          <input
            type="number"
            name="age"
            id="age"
            class="age"
            required
            placeholder="Age"
          />
          <span></span>
        </div>
        <div class="img">
          <label for="uploadImage" class="button">Upload Image</label>
          <span id="fileLabel" class="uploadLabel"></span>
          <input
            type="file"
            id="uploadImage"
            accept="image/*"
            onchange="displayFilename()"
            name="skin_image"
          />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div
      class="result"
      data-aos="fade-down"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    >
      <h1>Result</h1>
      <p style="text-transform: capitalize">
        {{ user.first_name }} {{ user.last_name }}
      </p>
      <br />
      <p>{{ result }}</p>
    </div>
  </div>
</section>

<script src="{% static 'js/services.js' %}"></script>
{% endblock %}
