{% load static %}
<link rel="stylesheet" href="{% static 'css/terminology.css' %}" />
{% block content %}
<div class="intro-img">
  <div class="container">
    <div class="img">
      <img src="{% static 'image/terminology.jpg' %}" alt="" />
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="word">
      <h1>Medical Terminology</h1>
    </div>
    <div class="left-img">
      <img src="image/term-page.jpg" alt="" />
    </div>
    <div class="chat-bot">
      <div class="result"></div>
      <div class="enter">
        <div class="img">
          <img src="" alt="" />
        </div>
        <div class="input">
          <input type="text" name="question" id="question" />
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/all.min.js"></script>
<script src="js/header.js"></script>
<script src="js/terminology.js"></script>
{% endblock%}
