* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e7f5ff;
}
aside {
  position: fixed;
  background-color: var(--main-color);
  width: 20%;
  height: 100%;
  color: white;
  font-size: 1.3em;
  box-shadow: var(--shadow);
}
aside .container {
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 96%;
  margin: 5px auto;
}
aside .container .logo {
  width: 100%;
  margin: 10px 0;
}
aside .container .logo img {
  width: 100%;
}
aside .container .items {
  transform: translateY(-50%);
  margin: 10px 0;
}
aside .container .items ul {
  letter-spacing: 2px;
}
aside .container .items ul li {
  position: relative;
  padding: 0 10px;
  margin: 30px 0;
  transition: 1s ease-in-out;
  z-index: 3;
  cursor: pointer;
}
aside .container .items ul li span {
  background-color: white;
  height: 140%;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: inherit;
  border-radius: 10px;
  z-index: -1;
}
aside .container .items ul li:hover {
  color: var(--main-color);
}
aside .container .items ul li:hover span {
  width: 100%;
}
section {
  display: none;
  transition: 1s ease-in-out;
  margin-left: 20%;
  height: 100%;
  padding-top: 60px;
}
section.users {
  display: block;
}
section h1 {
  padding: 10px 20px;
  font-size: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
section .container {
  width: 95%;
  position: relative;
}
section .container table {
  width: 100%;
  border-collapse: collapse;
}
section .container table tr {
  height: 65px;
  border-bottom: 1px solid #777;
}
section .container table tr th {
  text-align: justify;
  width: calc(100% / 4);
  padding: 10px 0;
}
section .container table tr td {
  position: relative;
}
section .container table tr td .actions {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}
section .container table tr td .info {
  position: relative;
}
section .container table tr td .info .name {
  margin-left: 60px;
  line-height: 1.5;
}
section .container table tr td .info .name .email {
  color: var(--p-text-color);
}
section .container table tr td .img {
  position: absolute;
}
section.doctors .container table tr td .img {
  top: -50%;
}
section .container table tr td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
section .container a.add_doctor {
  position: absolute;
  top: 17px;
  right: 10%;
  font-size: 1.5em;
  color: var(--main-color);
}
