:root {
  --main-color: #0086c4;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  /* background-color: #0086c425; */
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.active {
  transition: 0.5s;
  background-color: var(--main-color);
  color: white;
  padding: 0 10px;
  border-radius: 30px;
  transform: scale(1.2) translateY(1px);
}
nav {
  background-color: white;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
  --webkit-backface-visibility: hidden;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease-in-out;
}
.set-shadow {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.container {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}
nav .logo img {
  height: 50px;
  transform: translateY(30%);
}
nav .right ul {
  display: flex;
  transform: translateY(30%);
}
nav .right ul li {
  margin: 0 15px;
  font-size: 20px;
  font-weight: bold;
  transition: 1s;
}
nav .search i.fa-solid {
  margin-top: 50%;
}
