section {
  padding: 100px 0;
  margin: 0;
}
p.special {
  text-transform: capitalize;
}
.content .container {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
  align-items: center;
}
.content .container .img img {
  width: 100%;
  border-radius: 10px;
}
.content .container .info {
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  padding: 10px;
  box-shadow: var(--shadow);
  text-align: center;
}
.content .container .info h1 {
  color: var(--main-color);
}
.content .container .info .appoint {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5%;
}
.content .container .info .statics {
  padding: 10px 0;
}
.content .container .info .statics {
  color: var(--main-color);
}
