header {
  background-color: transparent;
  color: white;
}
.no-doctor-exist {
  text-align: center;
  font-size: 35px;
  margin: 120px 240px;
  padding: 30px;
  width: 700px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
section.intro {
  transform: translateY(-30px);
  height: 800px;
  background-image: url("../image/doctor_background.jpg");
  background-size: cover;
}
.intro .container .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}
.intro .container .text h1 {
  letter-spacing: 10px;
}
.doctors {
  padding: 150px 0;
}
.doctors .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(350px, 1fr));
}
.doctors .container .word {
  top: -20%;
}
.doctors .container .card {
  margin: 0 30px;
  position: relative;
  background-color: var(--main-color);
  box-shadow: var(--shadow);
  border-radius: 10px;
  color: white;
  text-align: center;
}
.doctors .container .card .img img {
  width: 290px;
  height: 290px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.doctors .container .card .info {
  letter-spacing: 3px;
  text-align: center;
  z-index: 1;
}
.doctors .container .card .info h1 {
  border-bottom: 1px solid white;
  margin: 3px 0;
  padding-bottom: 10px;
}
.doctors .container .card .info p.special {
  text-transform: capitalize;
}
.doctors .container .card .info p {
  color: rgba(255, 255, 255, 0.9);
}
.doctors .container .card a {
  position: absolute;
  top: 10px;
  right: 10px;
}
