:root {
  --main-color: #0086c4;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-color: #0086c425;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 70%;
  margin: 0 15%;
}
.container nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.container nav .left img {
  height: 70px;
}
.container nav .right ul {
  display: flex;
}
.container nav .right ul li {
  margin: 0 15px;
}
