{% extends 'base.html'%} {% load static%} {% block content%}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<section class="intro" id="intro">
  <div
    class="container aos-init"
    data-aos="zoom-in"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    <div class="content">
      <div
        class="text aos-animate"
        data-aos-easing="ease-in-out"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
      >
        <h1>MEDICAL</h1>
        <p>Your "HEALTH" is our Responsibility</p>
      </div>
      <div class="img">
        <img src="{% static 'image/home.png' %}" alt="Home" />
      </div>
    </div>
  </div>
</section>
<section class="home" id="home">
  <div class="container">
    <div class="word">
      <h1>Welcome</h1>
    </div>
    <div
      class="img"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    >
      <img src="{% static 'image/together.jpg' %}" alt="" />
    </div>
    <div class="text" data-aos="fade-left">
      <p>
        Our focus is on your overall well being and helping you achieve optimal
        health and esthetics.
      </p>
      <div class="content">
        <strong>Our Mission</strong>
        <p>
          Is to provid to you the treatment and stay with until you recover your
          health 100%
        </p>
      </div>
      <div class="content">
        <strong>Professionals in our Clinic</strong>
        <p>Has provided a high class facility for the treatment</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
