{% extends 'base.html' %} {% load static %} <br />
{% block title %} Virus C {%endblock%} <br />
{% block content %}
<link rel="stylesheet" href="{% static 'css/virus_c.css' %}" />
<section class="intro">
  <div
    class="container"
    data-aos="fade-in"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000"
  >
    <h1>Virus C</h1>
    <p>Hepatitis C virus</p>
  </div>
</section>
<section class="info-section">
  <div class="container">
    <div class="content">
      <div
        class="img"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
      >
        <img src="{% static 'image/virus_c-info.jpg' %}" alt="Skin Cancer" />
      </div>
      <div
        class="inner-text"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
      >
        <div class="info">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="120"
              height="100"
              viewBox="0 0 120 100"
              fill="none"
            >
              <g id="triangles" clip-path="url(#clip0_1_2)">
                <g id="lightgroup">
                  <path
                    id="light"
                    d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                    fill="#0086C4"
                    fill-opacity="0.5"
                  />
                </g>
                <g id="darkgroup">
                  <path
                    id="dark2"
                    d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                    fill="#0086C4"
                  />
                  <path
                    id="dark1"
                    d="M65 48.268C66.3333 49.0378 66.3333 50.9623 65 51.7321L30.5 71.6506C29.1667 72.4204 27.5 71.4582 27.5 69.9186V30.0814C27.5 28.5418 29.1667 27.5796 30.5 28.3494L65 48.268Z"
                    fill="#0086C4"
                  />
                </g>
              </g>
              <defs>
                <clipPath id="clip0_1_2">
                  <rect width="120" height="100" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <strong>What is Virus C ?</strong>
          <p class="answer">
            Hepatitis C is a liver infection caused by the hepatitis C virus
            (HCV). Hepatitis C is spread through contact with blood from an
            infected person. Today, most people become infected with the
            hepatitis C virus by sharing needles or other equipment used to
            prepare and inject drugs.
            <br />
          </p>
        </div>
        <div class="info">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="120"
              height="100"
              viewBox="0 0 120 100"
              fill="none"
            >
              <g id="triangles" clip-path="url(#clip0_1_2)">
                <g id="lightgroup">
                  <path
                    id="light"
                    d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                    fill="#0086C4"
                    fill-opacity="0.5"
                  />
                </g>
                <g id="darkgroup">
                  <path
                    id="dark2"
                    d="M46 48.268C47.3333 49.0378 47.3333 50.9623 46 51.7321L11.5 71.6506C10.1667 72.4204 8.5 71.4582 8.5 69.9186V30.0814C8.5 28.5418 10.1667 27.5796 11.5 28.3494L46 48.268Z"
                    fill="#0086C4"
                  />
                  <path
                    id="dark1"
                    d="M65 48.268C66.3333 49.0378 66.3333 50.9623 65 51.7321L30.5 71.6506C29.1667 72.4204 27.5 71.4582 27.5 69.9186V30.0814C27.5 28.5418 29.1667 27.5796 30.5 28.3494L65 48.268Z"
                    fill="#0086C4"
                  />
                </g>
              </g>
              <defs>
                <clipPath id="clip0_1_2">
                  <rect width="120" height="100" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <strong>How is HCV transmitted ?</strong>
          <p class="answer">
            HCV is transmitted primarily through parenteral exposures to
            infectious blood or body fluids that contain blood.
            <br />
            Possible exposures include: <br />
            - Injection-drug use (currently the most common mode of HCV
            transmission in the United States) (2) <br />
            - Birth to an HCV-infected mother
          </p>
        </div>
        <span class="info-source"
          >All information is based on
          <strong
            ><a
              target="_blank"
              href="https://www.cdc.gov/hepatitis/hcv/index.htm"
              >CDC</a
            ></strong
          ></span
        >
      </div>
    </div>
  </div>
</section>
<section class="form-result">
  <div class="container">
    <div
      class="form"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
    >
      <form action="POST" id="virusC">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" onclick="submitForm()">Submit</button>
      </form>
    </div>
    <div
      class="result"
      data-aos="zoom-in-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
    >
      <h1>{{user.first_name}} {{user.last_name}}</h1>
      <p id="result">result</p>
    </div>
  </div>
</section>
<script>
  const form = document.querySelector("form");
  const result = document.getElementById("result");
  let loadingInterval; // Variable to hold the loading interval

  document.addEventListener("submit", (e) => {
    // Start the loading animation
    loadingInterval = setInterval(updateLoadingTitle, 1000);
    e.preventDefault();
    submitForm();
  });

  let loadingText = "Loading";

  function updateLoadingTitle() {
    loadingText += ".";
    if (loadingText.length > 10) {
      // Reset after 10 dots
      loadingText = "Loading";
    }
    result.textContent = loadingText;
  }

  function submitForm() {
    var xhr = new XMLHttpRequest();
    var formData = new FormData(document.getElementById("virusC"));
    xhr.open("POST", "virus c", true);
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4) {
        clearInterval(loadingInterval); // Stop the loading animation
        if (xhr.status == 200) {
          result.innerHTML = xhr.responseText.slice(12, self.length - 2);
        } else {
          console.log("Request failed. Status code: " + xhr.status);
        }
      }
    };
    xhr.send(formData);
  }
</script>
{% endblock %}
