{% extends 'base.html' %} <br />
{% block title %} Dashboard {% endblock %} <br />
{% load static %} <br />
{% block content %}
<link rel="stylesheet" href="{% static 'css/update.css' %}" />
<section class="edit">
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
      <h1>{{ btn_title }}</h1>
      {% csrf_token %} <br />
      {% for message in messages %}
      <h1>{{message}}</h1>
      {% endfor %}
      <br />
      {{ form.as_div }} <br />
      <button type="submit" id="submit">{{ btn_title}}</button>
    </form>
  </div>
</section>
<script>
  // prevent user from entering bad characters
  const doc_name = document.getElementById("id_name");
  const specialization = document.getElementById("id_specialization");
  function validateInput(input) {
    // Regular expression to allow only letters, numbers, and underscores
    var regex = /^[a-zA-Z0-9_ ]+$/;
    // Get the input value
    var value = input.value;

    // Check if the value matches the regular expression
    if (!regex.test(value)) {
      // If it doesn't match, remove the last character entered
      input.value = value.slice(0, -1);
    }
  }
  doc_name.setAttribute("oninput", "validateInput(this)");
  specialization.setAttribute("oninput", "validateInput(this)");
  // update information when username is chosen
  const usernameField = document.getElementById("id_username");
  const nameField = document.getElementById("id_name");
  const ratingField = document.getElementById("id_rating");
  const cellphoneField = document.getElementById("id_cellphone");
  const imageLabel = document.querySelector("label[for='id_cellphone']");
  // const doctorImageField = document.getElementById("id_doctor_image");
  const addressField = document.getElementById("id_address");

  usernameField.addEventListener("change", function (event) {
    const selectedUsername = event.target.value;

    // Make an AJAX request to fetch doctor's information based on the selected username
    fetch(`get_user_info/${selectedUsername}`)
      .then((response) => response.json())
      .then((data) => {
        // Populate the fields with the retrieved doctor's information
        nameField.value = data.firstName + " " + data.lastName;
        imageLabel.innerHTML = ` <img src="${data.image}" alt="${data.firstName}" style="width:50px; height:50px; border-radius:50%; display:inline-block; margin: 10px 0"/>`;
        var doctor_image = data.image;
      })
      .catch((error) => {
        console.error("Error fetching user information:", error);
      });
  });

  document.querySelector("#submit").addEventListener("onclick", () => {
    document.querySelector("form").append(`
<input type="file" name="doctor_image" id="id_doctor_image" value="${doctor_image}" style="display:none">
    `);
  });
</script>
{% endblock %}
